body {
    background-color: var(--gray);
    background-size: contain;
    background-image: url(https://miro.medium.com/v2/resize:fit:1132/1*8y9sCjaxFmAzEiVEzw3YoQ.jpeg);
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 2rem;
}

.row {
    width: 100%;
}
